#draggable {
  width: 70px;
  height: 70px;
  top: 35%;
  left: 43%;
  text-align: center;
  padding: 0.5em;
}

#ring {
  left: 15%;
}

#circle{
    width: 600px;
    height: 600px;
    left: 15%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #444;
    text-align: center;
}

#fb, #google, #twitter, #github {
  font-size: 20px;
  position: relative;
}

#google {
  top: 40%;
  float: right;
}

#github {
  top: 40%;
  float: left;
}

#twitter {
  top: 92%;
}
